@import "tailwindcss";


@layer components{
  .width-navbar {
    width: calc(100% - var(--drawerWidth, 240px)); 
    margin-left: var(--drawerWidth, 240px); 
  }

  .input-auth {

    border: 1px solid #E2E8F0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
  }

  .boton-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152A66;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    gap: 0.5rem;
  }

  @media (max-width: 767px) {
    .width-navbar {
      width: 100%;
      margin-left: 0; 
    }
  }
}
